<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}請求{%endblock%}

<!-- css -->
{% block style %}
{% endblock %}

<!-- js -->
{% block js %}
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">経理</li>
<li class="breadcrumb-item active" aria-current="page">請求</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<h1>あとで</h1>
{%endblock%}