<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}売上{%endblock%}

<!-- css -->
{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
{% endblock %}

<!-- js -->
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">経理</li>
<li class="breadcrumb-item active" aria-current="page">売上</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<div class="col-md-11 mx-auto">
    <canvas id="myChart" style="position: relative;"></canvas>
</div>

<!-- js -->
<script type="text/javascript" src="{% static 'js/sell.js' %}"></script>
{%endblock%}