<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}生徒登録{%endblock%}

<!-- css -->
{% block style %}
<link href="{% static 'css/sub.css' %}" rel="stylesheet">
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">生徒情報</li>
<li class="breadcrumb-item active" aria-current="page">生徒登録</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<div>
    <form action="{% url 'student:student_register' %}" id="register_form" name="register_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="studentSide">
            <h4>生徒について</h4>
            <div class="form-group">
                <label for="studentName">氏名</label>
                <input type="input" name="studentName" class="form-control" id="studentName" placeholder="佐藤　太郎">
            </div>
            <div class="form-group">
                <label for="studentBirthday">生年月日</label>
                <div class="form-inline">
                    <input type="date" name="studentBirthday" class="form-control" id="studentBirthday">
                    <input type="input" name="studentAge" class="form-control" id="studentAge" placeholder="年齢">
                    <input type="input" name="schoolYear" class="form-control" id="schoolYear" placeholder="学年">
                </div>
            </div>
            <div class="form-group">
                <label for="studentAddress">住所</label>
                <input type="input" name="studentAddress" class="form-control" id="studentAddress">
            </div>
            <div class="form-group">
                <label for="image">写真</label><br />
                {{ form }}
            </div>
            <div class="form-group">
                <label for="remarks">備考</label>
                <textarea name="remarks" class="form-control" id="remarks" rows="3"></textarea>
            </div>
        </div>
        <div id="parentSide">
            <h4>保護者について</h4>
            <div class="form-group">
                <label for="parentEmail">メールアドレス</label>
                <input type="email" name="parentEmail" class="form-control" id="parentEmail" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="parentPhone">電話番号</label>
                <input type="input" name="parentPhone" class="form-control" id="parentPhone" placeholder="000-0000-0000">
            </div>
            <div class="form-group">
                <label for="payment">月謝</label>
                <input type="input" name="payment" class="form-control" id="payment" placeholder="3000">
            </div>
            <button type="submit" id="register" class="btn btn-primary">登録</button>
            <button type="button" class="btn btn-secondary">修正</button>
        </div>
    </form>
</div>
{% endblock %}