<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}ホーム{%endblock%}

<!-- css -->
{% block style %}
<link href="{% static 'css/sub.css' %}" rel="stylesheet">
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">ホーム</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<!-- 上段 -->
<div class="card-deck" style="width: 90rem;">
    <div class="row">
        <!-- スケジュール -->
        <div class="col-md-3">
            <div class="card h-100">
                <h6 class="card-header">スケジュール</h6>
                <div class="card-body">
                    <a href="/schedule"><img class="card-img-top" src="{% static 'image/for_schedule.png' %}"
                            alt="スケジュール"></a>
                </div>
            </div>
        </div>
        <!-- 生徒登録 -->
        <div class="col-md-3">
            <div class="card h-100">
                <h6 class="card-header">生徒登録</h6>
                <div class="card-body">
                    <a href="/student/student_register"><img class="card-img-top" src="{% static 'image/for_student.png' %}"
                            alt="生徒一覧"></a>
                </div>
            </div>
        </div>
        <!-- 生徒詳細-->
        <div class="col-md-3">
            <div class="card h-100">
                <h6 class="card-header">生徒一覧</h6>
                <div class="card-body">
                    <a href="/student/student_list"><img class="card-img-top" src="{% static 'image/for_student_list.png' %}"
                            alt="生徒詳細"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!-- 下段 -->
<div class="card-deck" style="width: 90rem;">
    <div class="row">
        <!-- 売上-->
        <div class="col-md-3">
            <div class="card h-100">
                <h6 class="card-header">売上</h6>
                <div class="card-body">
                    <a href="/student/sell"><img class="card-img-top" src="{% static 'image/for_money.png' %}" alt="売上"></a>
                </div>
            </div>
        </div>
        <!-- 請求 -->
        <div class="col-md-3">
            <div class="card h-100">
                <h6 class="card-header">請求</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/for_money.png' %}" alt="請求"></a>
                </div>
            </div>
        </div>
        <!-- 設定 -->
        <div class="col-md-3">
            <div class="card h-100">
                <h6 class="card-header">設定</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/for_config.png' %}" alt="経理処理"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}