<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}設定{%endblock%}

<!-- css -->
{% block style %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">設定</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="{% url 'home:setting' %}" id="changeForm" name="change_form" method="POST">
            {% csrf_token %}
            {% for list in object_list %}
            <div class="form-group">
                <label>{{ list.name }}</label>
                <input type="input" name="{{ list.id }}" class="form-control" value="{{ list.url }}">
            </div>
            {% endfor %}
            <button type="submit" id="register" class="btn btn-primary float-right">変更</button>
        </form>
    </div>
</div>
{%endblock%}