<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}スケジュール{%endblock%}

<!-- css -->
{% block style %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<link href="{% static 'css/fullcalendar/core.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/daygrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/timegrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/list.min.css' %}" rel="stylesheet">
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
{% endblock %}

<!-- form -->
{% block form %}
{{ form.media }}
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">スケジュール</li>
{% endblock %}

<!-- sub-content -->
{% block content %}

<!-- modal-output -->
<div class="modal fade" id="ModalOutput" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalOutputTitle" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                開始：<span id="ModalOutputBodyStart"></span>　終了：<span id="ModalOutputBodyEnd"></span>
                <hr>
                <span id="ModalOutputBodyDescription"></span>
            </div>
            <div class="modal-footer">
                <form action="{% url 'schedule:delete' %}" id="deleteForm" name="delete_form" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">削除</button>
                    <input id="deleteId" name="delete_id" type="hidden" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div>

<!-- modal-input -->
<div class="modal fade" id="ModalInput" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">予定登録</h5>
            </div>
            <form action="{% url 'schedule:register' %}" id="registerForm" name="register_form" method="POST"
                autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">タイトル</span>
                        </div>
                        <input id="registerTitle" name="register_title" type="text" class="form-control"
                            placeholder="タイトル" required="True">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">開始</span>
                        </div>
                        {{ form.start_time_field }}
                        <div class="input-group-prepend">
                            <span class="input-group-text">終了</span>
                        </div>
                        {{ form.end_time_field }}
                    </div>
                    <input id="selectDay" name="select_day" type="hidden" />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">詳細</span>
                        </div>
                        <textarea id="registerDescription" name="registerDescription" required="True"
                            class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">登録</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- fullcalendar -->
<div id="calendar" class="calendar"></div>
<div id="calendar-list" class="calendar"></div>

<!-- js -->
<script type="text/javascript" src="{% static 'js/fullcalendar/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/interaction.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/daygrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/timegrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/list.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>

{% endblock %}