html,
body {
    height: 100%;
}

div#rows {
    min-height: 92%;
    margin-right: auto;
}

body>div#rows {
    height: auto;
}

.col-md-11 {
    margin: 0px;
    padding: 0px;
}

.sub-content-area {
    margin-left: auto;
    padding-left: 15px;
}