html,
body {
    height: 100%;
}

div#rows {
    margin-right: auto;
    min-height: 92%;
}

body>div#rows {
    height: auto;
}

.col-md-10 {
    padding: 0;
}

.sub-content-area {
    margin-left: auto;
    padding-left: 15px;
}

.card {
    max-width: 20rem;
    max-height: 20rem;
}