.card-img-top {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.card-body {
    text-align: center;
}

.col-md-2 {
    padding-bottom: 30px;
}

#studentSide {
    float: left;
    width: 600px;
}

#parentSide {
    float: right;
    width: 600px;
    margin-right: 100px;
    margin-left: 0 auto;
}

#studentBirthday {
    width: 400px;
}

#studentAge,
#schoolYear {
    width: 100px;
} 

.custom-file-input:lang(ja)~.custom-file-label::after {
    content: "参照";
}

.custom-file {
    max-width: 50rem;
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}