.card-img-top {
    width: 50%;
    height: auto;
}

.card-body {
    text-align: center;
}

.col-md-3 {
    margin-bottom: 30px;
}

.col-md-6 {
    min-height: 200px;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}