.card-img-top {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.card-body {
    text-align: center;
}

.col-md-2 {
    padding-bottom: 30px;
}

.register_form {
    width: 600px;
}

.custom-file-input:lang(ja)~.custom-file-label::after {
    content: "参照";
}

.custom-file {
    max-width: 50rem;
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}