<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block style %}{% endblock %}
    {% block js %}{% endblock %}
    <link href="{% static 'icon/favicon.ico' %}" rel="icon">
</head>

<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ESS_APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- home link -->
                <li class="nav-item">
                    <a class="nav-link" href="/">ホーム<span class="sr-only">(current)</span></a>
                </li>
                <!-- schedule link -->
                <li class="nav-item">
                    <a class="nav-link" href="/student/schedule">スケジュール</a>
                </li>
                <!-- student infomation link -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">生徒情報</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="/student/list">生徒一覧</a>
                        <a class="dropdown-item" href="#">生徒詳細</a>
                    </div>
                </li>
                <!-- accounting link -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">経理処理</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="#">売上</a>
                        <a class="dropdown-item" href="#">請求</a>
                    </div>
                </li>
            </ul>
            <!-- social link -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon/Twitter_Social_Icon_Circle_Color.png' %}" width="30" height="30" alt="twitter">
            </a>
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon/f-ogo_RGB_HEX-58.png' %}" width="30" height="30" alt="facebook">
            </a>
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon/LINE_SOCIAL_Basic.png' %}" width="30" height="30" alt="line">
            </a>
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon/Layout_App_Large.png' %}" width="30" height="30" alt="instagram">
            </a>
            <span class="navbar-text text-white">ようこそ　管理者　さん</span>
        </div>
    </nav>
</header>

<body>
    <!-- base-content -->
    <div id="rows" class="row">
        <!-- main-content -->
        <div class="col-md-12 bg-light">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </nav>
            <!-- sub-content -->
            <div class="sub-content-area">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>


</html>