<!DOCTYPE html>
{% extends 'student/base.html' %}
{% load static %}

{% block title %}ホーム{%endblock%}
{% block style %}
<link href="{% static 'css/sub.css' %}" rel="stylesheet">
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">ホーム</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<!-- 上段 -->
<div class="card-deck" style="width: 80rem;">
    <div class="row">
        <!-- スケジュールカード -->
        <div class="col-md-6">
            <div class="card h-100" style="width: 20rem;">
                <h6 class="card-header">スケジュール</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/schedule.png' %}" alt="スケジュール"></a>
                </div>
                <p class="card-text"> 予定の確認をしよう！</p>
            </div>
        </div>
        <!-- 生徒一覧カード -->
        <div class="col-md-6">
            <div class="card h-100" style="width: 20rem;">
                <h6 class="card-header">生徒一覧</h6>
                <div class="card-body">
                    <a href="/student/list"><img class="card-img-top" src="{% static 'image/student.png' %}"
                            alt="生徒一覧"></a>
                </div>
                <p class="card-text">生徒の確認をしよう！</p>
            </div>
        </div>
    </div>
</div>
<br />

<!-- 下段 -->
<div class="card-deck" style="width: 80rem;">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100" style="width:20rem">
                <h6 class="card-header">経理処理</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/schedule.png' %}" alt="経理処理"></a>
                    <p class="card-text">いろいろ1</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100" style="width:20rem">
                <h6 class="card-header">経理処理</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/schedule.png' %}" alt="経理処理"></a>
                    <p class="card-text">いろいろ２</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100" style="width:20rem">
                <h6 class="card-header">経理処理</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/schedule.png' %}" alt="経理処理"></a>
                    <p class="card-text">いろいろ３</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}