<!DOCTYPE html>
{% extends 'student/base.html' %}
{% load static %}

<!-- title -->
{% block title %}スケジュール{%endblock%}

<!-- css -->
{% block style %}
<link href="{% static 'css/fullcalendar/core.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/daygrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/timegrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/list.min.css' %}" rel="stylesheet">
<link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock %}

<!-- js -->
{% block js %}
<script type="text/javascript" src="{% static 'js/fullcalendar/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/interaction.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/daygrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/timegrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/list.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">スケジュール</li>
{% endblock %}

<!-- sub-content -->
{% block content %}

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span id="ModalTitle" class="modal-title"></span>
            </div>
            <div class="modal-body">
                <span id="ModqlBody"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">登録</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div>

<!-- fullcalendar -->
<div id="calendar" class="calendar"></div>
<div id="calendar-list" class="calendar"></div>

<!-- js -->
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar-list.js' %}"></script>
{% endblock %}