<!DOCTYPE html>
{% extends 'student/base.html' %}
{% load static %}

<!-- title -->
{% block title %}生徒一覧{%endblock%}

<!-- css -->
{% block style %}
<link href="{% static 'css/sub.css' %}" rel="stylesheet">
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">ホーム</a></li>
<li class="breadcrumb-item active" aria-current="page">生徒情報</li>
<li class="breadcrumb-item active" aria-current="page">生徒一覧</li>
{% endblock %}

<!-- sub-content -->
{% block content %}
<div class="card-deck" style="width:90rem">
    <div class="row">
        {% for list in all_data %}
        <div class="col-md-2">
            <div class="card" style="width:14rem">
                <h6 class="card-header">{{list}}</h6>
                <div class="card-body">
                    <a href="#"><img class="card-img-top" src="{% static 'image/for_student.png' %}" alt="写真"></a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">保護者：{{list.parent_name}}</li>
                    <li class="list-group-item">学　年：{{list.school_year}}年生</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}