<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'icon/favicon.ico' %}" rel="icon">

    <!-- css -->
    <!-- bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- base -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block style %}{% endblock %}

    <!-- js -->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
    </script>
    {% block js %}{% endblock %}

    <!-- form -->
    {% block form %}{% endblock %}
</head>

<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ESS_APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
            aria-controls="navbars" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <!-- site link -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">ホーム<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedule">スケジュール</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">生徒情報</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/student/register">生徒登録</a>
                        <a class="dropdown-item" href="/student/list">生徒一覧</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">経理処理</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/accounting/sell">売上</a>
                        <a class="dropdown-item" href="/accounting/claim">請求</a>
                    </div>
                </li>
            </ul>
            <!-- social link -->
            <a id="twitter" class="navbar-brand" href>
                <img src="{% static 'icon/twitter.png' %}" width="30" height="30" alt="twitter">
            </a>
            <a id="facebook" class="navbar-brand" href>
                <img src="{% static 'icon/facebook.png' %}" width="30" height="30" alt="facebook">
            </a>
            <a id="line" class="navbar-brand" href>
                <img src="{% static 'icon/line.png' %}" width="30" height="30" alt="line">
            </a>
            <a id="instagram" class="navbar-brand" href>
                <img src="{% static 'icon/instagram.png' %}" width="30" height="30" alt="instagram">
            </a>
            <!-- user info -->
            <span class="navbar-text text-white">ようこそ　管理者　さん</span>
        </div>
    </nav>
</header>

<body>
    <div id="rows" class="row">
        <!-- main-content -->
        <div class="col-md-12 bg-light">
            <!-- breadcrumb -->
            <nav>
                <ol class="breadcrumb">
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </nav>
            <!-- sub-content -->
            <div class="sub-content-area">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</body>


</html>